/* * {
  border: 1px solid blue;
} */

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'MuseoModerno', cursive;
  font-weight: 800;
  font-size: clamp(2em, 4vw, 4em);
  color: white;
}

h2 {
  font-family: 'MuseoModerno', cursive;
  font-weight: 100;
}

img {
  width: 50px;
}

.user {
  box-shadow: 7px 0px 9px -2px rgba(0,0,0,0.14);
  z-index: 1;
  border-right: 5px solid #BFCC94;
}

.computer {
  box-shadow: -7px 0px 9px -2px rgba(0,0,0,0.14);
  z-index: 1;
  border-left: 5px solid #BFCC94;
}

.player-section {
  width: 15%;
  background: #0D1821;
  color: #FAFAFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.player-info {
  display: flex;
  flex-direction: column;
  margin-top: 13%;
  width: 100%;
}

@media screen and (max-width: 787px) {

  .player-info {
    transform: rotate(90deg);
    flex-direction: row;
    align-items: center;
    padding: 13%;
  }

  .player-section h2,
  .player-section h3 {
    margin: 0 25% -20% 0;
    padding: 10%;
  }
}



.game-section {
  width: 70%;
  text-align: center;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #344966;
}

.game-section h2 {
  font-family: Roboto;
  font-weight: 700;
  color: white;
}

.game-section * {
  transition: all .2s ease-in-out;
}

.game-type {
  min-width: 20%;
  height: 25%;
  margin-top: 5%;
  background: #B4CDED;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  box-shadow: 7px 4px 19px -2px rgba(0,0,0,0.23);
  cursor: pointer;
}

.game-type:hover {
  transform: scale(1.1);
}

.game-choices {
  width: 65%;
  height: 30%;
  background-color: #B4CDED;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  box-shadow: 7px 4px 19px -2px rgba(0,0,0,0.23);
}

.selections {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.choice {
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 5%;
}

.icons-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  margin-top: 10%;
}

.icon, .move {
  cursor: pointer;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roboto;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.icon-container p {
  margin: 0;
}

.player-box {
  font-family: roboto;
  background-color: #F0F4EF;
  margin: 3%;
  z-index: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 4px;
}

.player.player-box {

}

.comp.player-box {
  border-radius: 4px;
}

.player-name-hp {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
  text-transform: uppercase;
}

.health-bar-container {
  width: 40%;
}

.play-again-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.play-again-box button {
  cursor: pointer;
}

.player-battle-text {
  margin: 0;
}

.player-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  align-items: center;
  text-transform: uppercase;
}

.battle-text,
.player-battle-text,
.player-move-text{
  color: white;
  text-transform: uppercase;
}

.player-stats h5,
.player-stats h6 {
  margin: 0;
}

/* .botz-header-text {
  font-family: 'MuseoModerno', cursive;
  font-weight: 800;
} */

.hidden {
  display: none;
}
