* {
  border: 1px solid blue;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Orelega One', cursive;
  font-size: 4em;
  color: white;
}

.player-section {
  width: 15%;
  background: lightblue;
  text-align: center;
}

.game-section {
  width: 70%;
  text-align: center;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: cornflowerblue;
}

.game-type {
  width: 20%;
  height: 25%;
  margin-top: 5%;
  background: lightgray;
}

.hidden {
  display: none;
}
